{% extends "layouts/base.html" %}

{% load custom_filters %}
{% block content %}

<div class="col-12 col-xl-6 mx-auto">
  <div class="card">
    <h5 class="card-header">{{lifecycle.name}}</h5>
    <div class="card-body">
    

      <div class="col-12 mb-3">
        <ul class="list-group">
          <li class="list-group-item"><i class="fa-solid fa-building me-2"></i> Owner: {{lifecycle.owner}}</li>
          <li class="list-group-item"><i class="fa-solid fa-code-branch me-2"></i> Models using lifecycle: {{lifecycle.mlregister.count}}</li>
        </ul>
      </div>

      <p clas="card-text">Description: {{lifecycle.description}}</p>
      <hr/>
      {% if request.user|org_role:organization.id == 'owner'  or request.user == organization.owner%}
      <a href="{% url 'lifecycles:update' org_id=organization.id pk=lifecycle.id %}" class="btn btn-primary btn-sm"><i
        class="fa-solid fa-pen-to-square me-2"></i>Edit Details</a>
        <a href="{% url 'lifecycles:delete' org_id=organization.id pk=lifecycle.id %}" class="btn btn-danger btn-sm">
            <i class="fa-solid fa-trash-can"></i>Delete Lifecycle</a>
          {%endif%}

    </div>
  </div>
</div>



{%endblock%}