

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">

    {% if request.resolver_match.namespace == 'lifecycles'%}
        <li class="breadcrumb-item"><a href="{% url 'lifecycles:list' org_id=organization.id %}">{{organization.name}}</a></li>
        {% if lifecycle %}
        <li class="breadcrumb-item"><a href="{% url 'lifecycles:stage_list' org_id=organization.id lifecycle_id=lifecycle.id %}">{{lifecycle.name}}</a></li>
        {%endif%}

        {%if lifecyclestage %}
        <li class="breadcrumb-item"><a>{{lifecyclestage.name}}</a></li>
        {%endif%}

    {%endif%}

    {% if request.resolver_match.namespace == 'projects' %}
      <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">{{project.owner.name}}</a></li>

    {%endif%}



    {% if request.resolver_match.namespace == 'experiments'%}
      <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">{{project.owner.name}}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'experiments:list' project_id=project.id %}">{{project.name}}</a></li>
    {%endif%}

    {% if request.resolver_match.namespace == 'mlregister'%}
      <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">{{project.owner.name}}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mlregister:list' project_id=project.id %}">{{project.name}}</a></li>

      {% if releases%}
      <li class="breadcrumb-item"><a>Releases</a></li>
      {%endif%}

      {% if release%}
      {%endif%}

    {%endif%}


    {% if request.resolver_match.namespace == 'organizations' and request.resolver_match.url_name != 'list'%}
      <li class="breadcrumb-item"><a href="{% url 'organizations:list' %}">{{organization.name}}</a></li>

    {%endif%}


    </ol>



  </nav>

