{% extends "layouts/base.html" %}
{% load custom_filters%}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}


{% block content %}


<div class="col-12 mb-5">

    <a href="{% url 'organizations:create' %}" class="btn btn-primary float-end"><i class="fa-solid fa-building me-2"></i>Create Organization</a>
    <div class="col-12 col-md-6 mx-auto">

        <form action="" method="get">

            {% crispy filter.form %}

        </form>
    </div>


</div>

<div class="col-12">
    <div class="row">
            {% if organizations_list %}
                {% for organization in organizations_list %}
                    <div class="col-12 col-md-6 col-xl-4 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <span class="badge bg-primary text-uppercase float-end">Organization</span>
                              <h5 class="card-title">{{organization.name}}</h5>
                              <hr/>
                              <div class="row">
                                <div class="col-12 col-xl-6 my-1">
                                    <a href={% url 'organizations:detail' pk=organization.id %} class="btn btn-primary btn-sm d-block"><i class="fa-solid fa-list me-2"></i>Details</a>
                                </div>

                                <div class="col-12 col-xl-6 my-1">
                                    <a href={% url 'organizations:member_list' org_id=organization.id %} class="btn btn-primary btn-sm d-block"><i class="fa-solid fa-users-between-lines me-2"></i>Members</a>
                                </div>
                          
                                <div class="col-12 my-1">
                                    <a href={% url 'lifecycles:list' org_id=organization.id %} class="btn btn-primary btn-sm d-block"><i class="fa-solid fa-code-branch me-2"></i>Lifecycles</a>
                                </div>                               

                              </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Owner: {{organization.owner}} <span class="badge badge-secondary bg-secondary float-end">Members: {{organization.organizationmember_set.count}}</span></small>
                            </div>
                          </div>
                    </div>
                {% endfor %}
            
            {% include 'includes/pagination.html' %}

            {% else %}
            <p class="text-center">No organizations found</p>
            {% endif %}


    </div>
</div>



{%endblock%}